**/vendor
**/file.json
gqlsrv/cli/__debug_bin
gqlsrv/cli/config.conf
usersrv/cli/usersrv
gqlsrv/cli/gqlsrv
frontend/.env
frontend.bak
ordersdb*
data
storesrv
ordersrv
usersrv
out.tmp
timersrv/cli/timersrv
